/* ----------------------- */
/*1. BASE STYLES */
/* ----------------------- */
html {
    font-family: "Open Sans", sans-serif;
    font-size: medium;
}

body {
    background-color: #a100004d;
    margin: 0;
}

/* ----------------------- */
/* 2. LAYOUT */
/* ----------------------- */
main {
    width: 67vw;
    margin: 0 auto;
    background-color: #fcfcfc;
}

article.recipe {
    margin: 0 auto;
    padding: clamp(1.25rem, 3.35vw, 4rem);
    padding-top: 0;
    max-width: 100%;
}

.recipe .headline-img {
    margin: 0 calc(clamp(1.25rem, 3.35vw, 4rem) * -1);
    margin-bottom: 2rem;
    width: auto;
    aspect-ratio: 5/2;
    overflow: hidden;
}

header,
section {
    margin: 1.5rem 0;
}

/* ----------------------- */
/* 3. COMPONENTS */
/* ----------------------- */

.headline-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.summary-card {
    background-color: #ebebeb;
    margin: 0.7em 0;
    padding: 1em;
}

.ingredients__heading {
    margin: 0;
    display: flex;
    align-items: baseline;
    gap: 0.4rem;
}

.serving-suggestions {
    margin-bottom: 0;
}

.serving-suggestions__images {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2%;
}

.serving-suggestions__fig {
    display: block;
    margin: 0;
    width: 49%;
}

.serving-suggestions__fig img {
    max-width: 100%;
    aspect-ratio: 6/5;
    object-fit: cover;
}

/* ----------------------- */
/* 4. TYPOGRAPHY */
/* ----------------------- */
h1 {
    color:#a10000;
    margin: 0;
    margin-bottom: 1rem;
    font-size: clamp(1.8rem, 2.1vw, 6rem);
}

h2,
.ingredients__heading p {
    font-size: clamp(1.3rem, 1.68vw, 5rem);
    margin: 0;
    margin-bottom: 0.5rem;
}

p {
    font-size: clamp(0.8rem, 1.25vw, 4rem);
}

ul,
ol {
    margin-top: 0;
    padding-left: clamp(1.25rem, 2vw, 2.5rem);
    font-size: clamp(0.8rem, 1.25vw, 4rem);
}

/* ----------------------- */
/* 5. MEDIA QUERIES */
/* ----------------------- */
@media (max-width: 450px) {
    body {
        background-color: #fcfcfc;
    }
    
    main {
        width: 100vw;
        margin: 0;
    }

    .headline-img {
        aspect-ratio: 1/1.13;
    }

    .serving-suggestions__images {
        flex-direction: column;
        gap: 1.5rem;
        height: auto;
    }

    .serving-suggestions__fig {
        width: 100%;
    }

    .serving-suggestions__fig img {
        aspect-ratio: 4/5;
    }
}

